/* +---------------+
   |  THEME: NAVY  |
   +---------------+ */

/* +------------+
   |  CORE CSS  |
   +------------+ */
::selection {
  background-color: #6e0b1e;
  color: #f3eeec;
}
body {
  background-color: #f3eeec;
  color: #160803;
}

/* +------------+
   |  ELEMENTS  |
   +------------+ */
a {
  color: #6e0b1e;
}
a:hover {
  color: #160803;
}

/* +-------------+
   |  UTILITIES  |
   +-------------+ */
.btn {
  background-color: #f16c3b;
  color: #160803;
}
.btn-transparent {
  border-color: #6e0b1e;
  color: #6e0b1e;
}

/* +-------------+
   |  CSS ICONS  |
   +-------------+ */
.close:before, .close:after,
.plus:before, .plus:after {
   background-color: #160803;
}

/* +----------+
   |  HEADER  |
   +----------+ */
#header {
   background-color: #f3eeec;
   border-color: rgba(22, 8, 3, .0625);
}
#header .nav-link {
  color: #160803;
}
#header .nav-link:hover {
  color: #6e0b1e;
}

/* +-----------+
   |  FOOTERS  |
   +-----------+ */
#footer, #siteCredits {
   background-color: #f5f8fa;
}
#copyrightNav {
   border-color: #160803;
}

/* +------------------+
   |  RESPONSIVE CSS  |
   +------------------+ */
@media screen and (max-width: 767px) {
  .mobile-nav-toggler:before {
    background-color: #fbc8b5;
  }
  .bar {
    background-color: #160803;
  }
}
