/* +-----------------+
   |  THEME: ORANGE  |
   +-----------------+ */

/* +------------+
   |  CORE CSS  |
   +------------+ */
::selection {
  background-color: #6a2a41;
  color: #f9f2eb;
}
body {
  background-color: #f9f2eb;
  color: #170a03;
}

/* +------------+
   |  ELEMENTS  |
   +------------+ */
a {
  color: #6a2a41;
}
a:hover {
  color: #170a03;
}

/* +-------------+
   |  UTILITIES  |
   +-------------+ */
.btn {
  background-color: #d46714;
  color: #170a03;
}
.btn-transparent {
  border-color: #6a2a41;
  color: #6a2a41;
}

/* +-------------+
   |  CSS ICONS  |
   +-------------+ */
.close:before, .close:after,
.plus:before, .plus:after {
   background-color: #170a03;
}

/* +----------+
   |  HEADER  |
   +----------+ */
.scrolled-past #header {
   background-color: #f9f2eb;
   border-color: rgba(23, 10, 3, .0625);
}
#header .nav-link {
  color: #170a03;
}
#header .nav-link:hover {
  color: #6a2a41;
}

/* +-----------+
   |  FOOTERS  |
   +-----------+ */
#footer, #siteCredits {
   background-color: #f9f2eb;
}
#copyrightNav {
   border-color: #170a03;
}

/* +------------------+
   |  RESPONSIVE CSS  |
   +------------------+ */
@media screen and (max-width: 767px) {
  .mobile-nav-toggler:before {
    background-color: #a5d8ff;
  }
  .bar {
    background-color: #170a03;
  }
}
